
@font-face {
    font-family: "textFont";
    src: url("fonts/textFont.ttf");
}

@font-face {
    font-family: "navbarFont";
    src: url("fonts/navbarFont.ttf");
}

.historyContainer {
    padding-top: 150px;
    height: 800px;
    margin-bottom: 50px;
}

.historyText {
    padding-top: 80px;
    height: 500px;
}

.yellowTittle{
    font-family: navbarFont;
    color: yellow;
    margin-bottom: 30px;
    
}

.historyImage {
    padding-top: 150px;
    height: 600px
}

.imgGallery {
    padding: 100px 50px;
    
}

.videoYoutube {
    height: 800px;
    padding-top:80px;
}

.myFooter {
    padding-bottom: 75px;
}

body {
    background-image: url('images/fondo3-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.navbar-default {
    font-family: navbarFont;
    font-size: 2em;
    background-color: #343454;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffff66;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f8fdbe;
    background-color: #0C0C13;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #f8fdbe;
    background-color: #0C0C13;
}
.navbar-nav > li > a{
    
    padding-top:25px !important; 
    padding-bottom:0 !important;
    padding-left: 35px;
    height: 75px;
    width: 150px;
}

.navbar-brand {
    
    padding-top:5px !important; 
    padding-bottom:0 !important;
    height: 75px;
}
.navbar {min-height:75px !important;}
