.historyContainer {
    padding-top: 150px;
}

.historyText {
    padding-top: 80px;
    height: 500px;
}

.yellowTittle{
    color: yellow;
    margin-bottom: 30px;
    
}

.historyImage {
    height: 500px;
}

.imgGallery {
    padding: 100px 50px;
    
}

.videoYoutube {
    height: 800px;
    padding-top:80px;
}

.myFooter {
    padding-bottom: 75px;
}

body {
    background-image: url('images/fondo3-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffff00;
    
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

.navbar-nav > li > a{
    
    padding-top:25px !important; 
    padding-bottom:0 !important;
    padding-left: 50px;
    height: 75px;
    width: 150px;
}

.navbar-brand {
    
    padding-top:5px !important; 
    padding-bottom:0 !important;
    height: 75px;
}
.navbar {min-height:75px !important;}

#custom-navbar {
    
}
