
body {
    background-color: #94BFB7;
}

#menu{
	background-color:#414141;
	list-style:none;
	width:auto;
	position:relative;
	display:block;
	height:36px;
}
#menu li{
	float:left;
	display:block;
	position:relative;
}
#menu li a{
	color:#fff;
	text-decoration:none;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.3em;
	padding:10px 14px 8px 16px;
	display:block;
}
#menu li ul{
	width:120px;
	background:#F8F8F8;
	border:1px #ccc solid;
	display:none; 
	position:absolute;
	z-index:999;
	margin-top:0px;
}
#menu li ul li{
	
	width:100%;
	list-style:none;
	display:block;
}
#menu li ul li a{

	color:#21759b;
	font-size:14px;
	line-height:1.3em;
	display:block;
	font-weight:normal;
	padding:8px
}
#menu li ul li a:hover{
	color:#444;
	text-decoration:underline;
	}
	
#menu li:hover ul{	
	display:block;
}

#contenedor {
    width: 100%;
}


img {
    width: 100%;
}

p {
    font-family: sans-serif;
    font-size: 1.08em;
}

#logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img1 {
    width: 50%;
    height: 24vw;
    float:left;
    display: block;
    background-image: url('../image/foto1.jpg');
    background-size: 100% 100%;
    margin 15px;
}
#img2 {
    width: 50%;
    height: 24vw;
    float:left;
    display: block;
    background-image: url('../image/foto2.jpg');
    background-size: 100% 100%;
    margin 15px;
}
#img3 {
    width: 50%;
    height: 24vw;
    float:left;
    display: block;
    background-image: url('../image/foto3.jpeg');
    background-size: 100% 100%;
    margin 15px;
}
#img4 {
    width: 50%;
    height: 24vw;
    float:left;
    display: block;
    background-image: url('../image/foto4.jpg');
    background-size: 100% 100%;
    margin 15px;
}
